<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
    padding: 30px 0px 60px;
}
.panel > .list-group .list-group-item:first-child {
    /*border-top: 1px solid rgb(204, 204, 204);*/
}
@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
#back-to-bootsnipp {
    position: fixed;
    top: 10px; right: 10px;
}


.c-search > .form-control {
   border-radius: 0px;
   border-width: 0px;
   border-bottom-width: 1px;
   font-size: 1.3em;
   padding: 12px 12px;
   height: 44px;
   outline: none !important;
}
.c-search > .form-control:focus {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
}
.c-search > .input-group-btn .btn {
   border-radius: 0px;
   border-width: 0px;
   border-left-width: 1px;
   border-bottom-width: 1px;
   height: 44px;
}


.c-list {
    padding: 0px;
    min-height: 44px;
}
.title {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    padding: 5px 15px;
}
ul.c-controls {
    list-style: none;
    margin: 0px;
    min-height: 44px;
}

ul.c-controls li {
    margin-top: 8px;
    float: left;
}

ul.c-controls li a {
    font-size: 1.7em;
    padding: 11px 10px 6px;
}
ul.c-controls li a i {
    min-width: 24px;
    text-align: center;
}

ul.c-controls li a:hover {
    background-color: rgba(51, 51, 51, 0.2);
}

.c-toggle {
    font-size: 1.7em;
}

.name {
    font-size: 1.7em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.circular-image {
  display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 5px solid #cfd8dc;
}

.btn-glyphicon { padding:2px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 2px 12px 2px 2px; border-radius:30px;}
</style>

<script>
$(function () {
    /* BOOTSNIPP FULLSCREEN FIX */
    if (window.location == window.parent.location) {
        $('#back-to-bootsnipp').removeClass('hide');
    }


    $('[data-toggle="tooltip"]').tooltip();

    $('#fullscreen').on('click', function(event) {
        event.preventDefault();
        window.parent.location = "http://bootsnipp.com/iframe/4l0k2";
    });
    $('a[href="#cant-do-all-the-work-for-you"]').on('click', function(event) {
        event.preventDefault();
        $('#cant-do-all-the-work-for-you').modal('show');
    })

    $('[data-command="toggle-search"]').on('click', function(event) {
        event.preventDefault();
        $(this).toggleClass('hide-search');

        if ($(this).hasClass('hide-search')) {
            $('.c-search').closest('.row').slideUp(100);
        }else{
            $('.c-search').closest('.row').slideDown(100);
        }
    })

    $('#contact-list').searchable({
        searchField: '#contact-list-search',
        selector: 'li',
        childSelector: '.col-xs-12',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});

</script>
<div class = "container">
  Get back to Inbox
</div>
<div class="container">

<% @users.each.with_index do |user, index| %>
  <% if index.even? %>
    <div class="row">
       <div class="col-lg-6">
         <li class="list-group-item">
             <div class="col-xs-12 col-sm-3">
                 <img style="width: 100px; height: 100px;"src="<%= user.avatar %>" alt="<%= user.first_name %> <%= user.last_name %>" class="circular-image" data-toggle="tooltip" title="<%= user.first_name %> <%= user.last_name %>"/>
             </div>
             <div class="col-xs-12 col-sm-9">
                 <span class="glyphicon glyphicon-map-marker text-muted c-info" ></span>
                 <span class="name"><%= user.display_name %></span><br/>
                 <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="<%= user.email %>"></span>
                 <span class="visible-xs"> <span class="text-muted"><%= user.email %></span><br/></span>
                 <% if current_user.friend_status_with(user.id) == 0 %>
                  <span class="visible-xs"> <span class="text-muted">Waiting for accept</span><br/></span>
                 <% else %>
                  <%= link_to "Send Message", friends_add_path(friend_id: user.id),:method=> :post, class: "btn icon-btn btn-success" %>

                 <% end %>
             </div>
             <div class="clearfix"></div>
         </li>
       </div>
  <% else %>
      <div class="col-lg-6">
        <li class="list-group-item">
            <div class="col-xs-12 col-sm-3">
                <img style="width: 100px; height: 100px;"src="<%= user.avatar %>" alt="<%= user.first_name %> <%= user.last_name %>" class="circular-image" data-toggle="tooltip" title="<%= user.first_name %> <%= user.last_name %>"/>
            </div>
            <div class="col-xs-12 col-sm-9">
                <span class="glyphicon glyphicon-map-marker text-muted c-info" ></span>
                <span class="name"><%= user.display_name %></span><br/>
                <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="<%= user.email %>"></span>
                <span class="visible-xs"> <span class="text-muted"><%= user.email %></span><br/></span>
                <% if current_user.friend_status_with(user.id) == 0 %>
                 <span class="visible-xs"> <span class="text-muted">Waiting for accept</span><br/></span>
                <% else %>
                 <%= link_to "Send Message", friends_add_path(friend_id: user.id),:method=> :post, class: "btn icon-btn btn-success" %>

                <% end %>
            </div>
            <div class="clearfix"></div>
        </li>
      </div>
    </div>
  <% end %>
<% end %>

</div>
