<!DOCTYPE html>
<html>
  <head>
    <title>CoderChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= content_for :header %>
  </head>

  <body>
    <div class='container-fluid'>
      <%= flash_messages %>

      <%if current_user %>
        <% if 'friends'.eql?(controller.controller_name) %>
          <%= render 'layouts/friends' %>
        <% else %>
          <%= render 'layouts/content' %>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
